@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Competir";
}
<div class="container">
    <div class="row">
        <div class="col-8" style="text-align:center">
            <h1>Competir</h1>
        </div>
        <div class="col-4" style="text-align:end">
            <img src="~/media/logo ESPE.png" alt="Logo SPE" style="width:100px" />
        </div>
    </div>
    <div class="row"><div class="col space"></div></div>
    <div class="row"><div class="col space"></div></div>
    <div class="row"><div class="col space"></div></div>
    <div class="row">
        <div class="col">
            <h3>¿Cual de los siguientes países es el mayor productor de petróleo a nivel mundial? </h3>
        </div>
    </div>

    <div class="row"><div class="col space"></div></div>
    <div class="row"><div class="col space"></div></div>
    <div class="container mt-5">
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-danger rounded-circle" style="height: 300px;width: 300px;">
                Responder
            </button>
        </div>

    </div>
</div>
